    {{>nav}}
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">



  
<form class="modal-content mt-4" action="login" method="POST" >
   {{#if this.success}}
      <div class="alert alert-success mt-4">
        <strong></strong> {{success}}
      </div>
  {{/if}}
  <h1>Sign In</h1>
    
     <hr>
      <label for="mobile"><b>Mobile</b></label>
      <input type="text" placeholder="Enter Mobile" name="mobile" >
      

       <label for="password"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="password" > 
     
      <div class="clearfix">
        <button type="submit" class="cancelbtn">Login</button>
        <button  class="signupbtn"><a href="registers"> Don't have account Sign Up</a></button>
      </div>
    
  </form>