<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{>nav}}
     <h3 style="text-align: right;margin-right:20px;color:red">Logged as:{{logMob}}</h3> 

    <div style="float:right;">UserMobile:{{logMob}} Id:{{logID}}</div>
    this is my page
</body>
</html>