    <link rel="stylesheet" href="/font/css/font-awesome.css">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">

{{>passwordCategory_Nav}}
<br>
 {{#if this.success}}
  <div class="alert alert-success col-md-2 mt-4">
  <strong>!</strong> {{success}}
  </div>
  {{/if}}
<h3><p>Password Category List</p></h3>

<table class="table">
      <thead>
        <tr>
          <th>Password Category Name</th>
          <th>Action</th>
        </tr>
      </thead>
      
      <tbody>   
          
            {{#each data }} 
            <tr>
                <td>{{this.passcatb}}</td>
                <td><a class ="btn btn-primary btn-xs"href="passManagement/edit/{{this._id}}"><i class=" fa fa-edit"></i></a>
                <a class ="btn btn-danger btn-xs"href="passManagement/delete/{{this._id}}"><i class=" fa fa-trash"></i></a>
                </td> 

              </tr>
              {{/each}}
          
       </tbody>      
    </table>