<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/navbar.css">

    <title>Document</title>
</head>
<body>
    
    <div class="nav">
    <ul>
      <li><a href="#"> Joints</a>
           <ul id="log">
              <li>  <a href="#">join1</a></li>
              <li>  <a href="#">join2</a></li>
              <li>  <a href="#">join3</a></li>
            </ul>
      </li>  
      <li><a href="/joints">Joins Home page</a></li>
      <li><a href="/">Main Page</a></li>
      <li><a href="/passmanagement">Password Management</a></li>
      <li><a href="/joints/get_bootstap_data">Bootstrap Search</a></li>

      <li><a href="/Login">Login</a></li>
      <li><a href="/Logout">Logout</a></li>
      <li>  <a href="#"> Products</a>
          <ul id="cat">
            <li><a href="#">Products1</a></li>
            <li><a href="#">Products2</a></li>
          </ul>
      </li>
      <li>  <a href="#">Products </a>
      <ul id="pass">
            <li><a href="#">product1</a></li>
            <li><a href="#">product2</a></li>

          </ul>
      </li>  
    {{!-- <div class="navbar-header" style="float:right;margin-top:1%;text-align:left;position:absolute;margin-left:125% "><a class="navbar-brand"href="#">Logged as : {{logMob}}</a> </div> --}}
    </ul>
  </div>

</body>
</html>
