<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">

    <title>Document</title>
</head>
<body>
    <div class="nav">
    <ul>
      <button><a href="users/home"> <li>Home</li></a></button>
      <button> <a href="users/login">    <li>Login</li></a></button>
      <button> <a href="users/registers">  <li>Registration</li></a></button>
       <button><a href="users/logout">   <li>Logout</li></a></button>
       <button><a href="users/mypage">   <li>mypage</li></a></button>
<div class="navbar-header" style="float:right;margin-top:1% "><a class="navbar-brand"href="#">Logged as : {{logMob}}</a> </div>
    </ul>
  </div>
  
</body>
</html>
