<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/navbar.css">

    <title>Document</title>
</head>
<body>
    <div class="nav">
    <ul>
      <li><a href="#"> Awasome web Tutorial</a>
           <ul id="log">
              <li>  <a href="#">Link1</a></li>
              <li>  <a href="#">link2</a></li>
              <li>  <a href="#">Link3</a></li>
            </ul>
      </li>  
      <li><a href="/">Home</a></li>

      <li><a href="passManagement">Password Management</a></li>
      <li>  <a href="registers">Registration</a></li>
      <li>  <a href="login">Login</a></li>
      <li><a href="/joints">Joints</a></li>
      <li><a href="/joints/get_bootstap_data">Bootstrap Search</a></li>
      <li><a href="/users/upload_image">Upload Images</a></li>
      <li><a href="/api">Api</a></li>

      <li><a href="/logout">Logout</a></li>
      <li>  <a href="#"> Products</a>
          <ul id="cat">
            <li><a href="#">Link1</a></li>
            <li><a href="#">Link2</a></li>
          </ul>
      </li>
      <li>  <a href="#">Products </a>
      <ul id="pass">
            <li><a href="#">product1</a></li>
            <li><a href="#">product2</a></li>

          </ul>
      </li>  

    {{!-- <div class="navbar-header" style="float:right;margin-top:1%;text-align:left;position:absolute;margin-left:125% "><a class="navbar-brand"href="#">Logged as :{{mobi_no}}</a> </div> --}}
    </ul>
  </div>
  
</body>
</html>
