
<div class="row justify-content-center ">
    <div class="col-md-6 bg-info rounded shadow py-3 myRecForm">
        <form action="/" method="POST">
            <div class="mb-3 ">
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control" id="Name" placeholder="Enter Your Name" name="name">
           </div>
            <div class="mb-3 ">
                <label for="mobile" class="form-label">Mobile</label>
                <input type="text" class="form-control" id="mobile" placeholder="Enter Your Mobile Number" name="mobile">
           </div>
            <div class="mb-3 ">
                <label for="email" class="form-label">Email</label>
                <input type="text" class="form-control" id="email" placeholder="Enter Your Email" name="email">
           </div>
              <div class="mb-3 ">
                <label for="address" class="form-label">Address</label>
                <input type="text" class="form-control" id="address" placeholder="Enter Your Address" name="address">
           </div>
            <div class="mb-3">
                <label for="age" class="form-label">Age</label>
                <input type="age" class="form-control" id="age" placeholder="Enter Your Age" name="age">
                </div>
            <div class="custom-control custom-radio">
                <input type="radio" id="fml" name="gender" class="custom-control-input" value="female">
                <label class="custom-control-label" for="fml">Female</label>
           </div>
           <div class="custom-control custom-radio">
                <input type="radio" id="mle" name="gender" class="custom-control-input" value="male" default>
                <label class="custom-control-label" for="mle">Male</label>
           </div>
            <div class="mb-3 ">
                <label for="address" class="form-label">Password</label>
                <input type="password" class="form-control" id="address" placeholder="Enter Your Address" name="password">
           </div>
           <div class="mb-3 ">
                <label for="cpassword" class="form-label">Confirm Password</label>
                <input type="password" class="form-control" id="address" placeholder="Enter Your Address" name="cpassword">
           </div>

           
            <button type="submit" class="btn btn-primary" >Submit</button>
        </form>
    </div>
    
</div>
